#form_category, #form_edit_category, #form_product, #form_edit_product {
  display: none;
}
#info_product {
  display: flex;
}

input:focus, textarea:focus {
  outline: none;
}

/* --- style upload_photo --- */
.element {
  position: relative;
}

.element img {
  width: 200px;
  height: 200px;
  object-fit:cover;
}

.element .add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 175px;
  height: 175px;
  top: 12.5px;
  left: 12.5px;
  background-color: rgba(100,100,100,0.5);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
  cursor: pointer;
  transition: 0.25s;
}

.element .add:hover{
  opacity: 1;
}
.line1{
  height: 2.25px;
  width: 25px;
}
.line2{
  width: 25px;
  height: 2px;
}
.line1, .line2{
  background-color: white;
  margin: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.line1{
  transform: rotate(0deg) translate(0px, 4px);
}
.line2{
transform: rotate(90deg) translate(-3px, 0px);
}