<%- include('../partials/head'); %>

  <%- include('../partials/navbar'); %>

  <h2 id="error+info" class="container display-4 my-5 p-3 rounded-4 shadow text-center bg-danger bg-gradient bg-opacity-25"><%= error %></h2>

<%- include('../partials/footer'); %>